<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Collectible.css">
    <title>The Sad Onion</title>
  </head>
  <body>
    <div id="main_container">
      <div class="head">
        <div id="name" class="item_name">
          <span class="item_name_text"><p>The Sad Onion</p></span>
        </div>
        <div id="quote" class="item_quote">
          <span class="item_quote_text"><p>Tears up</p></span>
        </div>
      </div>
      <div class="item_container">
        <div class="item_image pedestal">
          <img class="floating-item" src="../../icons/items/Collectible/Collectible_The_Sad_Onion_icon.png" alt="">
          <span class="item_pedestal"><img src="../media/Item_altar.webp" alt=""></span>  
        </div>
        <div class="item_info">
          <p class="item_description">The Sad Onion is a passive item that increases the player's tear rate, allowing them to shoot tears more frequently. It is often found in the first floor of the game and is a popular choice for players looking to enhance their offensive capabilities early on.</p>
        </div>
      </div>
  </body>
</html>