<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Items.css">
    <title>Items</title>
</head>
<body>
    <div id="main_container">
      <div class="head">
        <div class="back_button">
          <span class="back_arrow"><a href="index.html">&#8668;</a></span>
        </div>
        <div id="search">
          <span class="search_bar"><input type="text" placeholder="&#128269; Search items..."></span>
        </div>
        <div id="filter">
            <!-- <label for="items">Filter</label> -->
            <select name="items" id="items">
                <option value="all">All</option>
                <option value="active">Active</option>
                <option value="passive">Passive</option>
            </select>
        </div>
      </div>
      <div id="items_container">
        <div class="item">
            <div class="item_image">
                <img class="item_icon" src="../../media/Collectibles/Collectible_The_Sad_Onion_icon.png" alt="The Sad Onion">
            </div>
            <div class="item_info">
                <h2 class="item_name">Sad Onion</h2>
                <p class="item_quote">Tears up</p>
            </div>
        </div>
        <div class="item">
            <div class="item_image">
                <img class="item_icon" src="../../media/Collectibles/Collectible_The_Inner_Eye_icon.png" alt="The Inner Eye">
            </div>
            <div class="item_info">
                <h2 class="item_name">The Inner Eye</h2>
                <p class="item_quote">Triple shot</p>
            </div>
        </div>
        <div class="item">
            <div class="item_image">
                <img class="item_icon" src="../../media/Collectibles/Collectible_Spoon_Bender_icon.png" alt="Spoon Bender">
            </div>
            <div class="item_info">
                <h2 class="item_name">Spoon Bender</h2>
                <p class="item_quote">Homing shots</p>
            </div>
        </div>
      </div>
</body>
</html>